schemas/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="root">
            <xs:sequence>
                <xs:element name="element" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType mixed="true">
                        <xs:attribute name="attribute" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
